<cruisecontrol>
  <project>
    <name>SQS Triggered Project</name>

    <triggers>
      <sqsTrigger>
        <awsAccessKey>***</awsAccessKey>
        <awsSecretAccessKey>***</awsSecretAccessKey>
        <queueUrl>***</queueUrl>
      </sqsTrigger>
    </triggers>

    <workingDirectory>.</workingDirectory>

    <sourcecontrol type="nullSourceControl" />

    <tasks>
      <nullTask />

      <!-- This task will create the SQS used for the above trigger -->
      <!-- If it queue already exists then no action is performed   -->
      <!-- You will need to have stored your AWS credentials before this will work -->
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
        <projectFile>build.proj</projectFile>
        <buildArgs>/noconsolelogger /p:Configuration=Debug /v:diag</buildArgs>
        <targets>CreateTestQueue</targets>
        <timeout>30</timeout>
        <description>Create 'TriggerBuildMachineTest' SQS Queue</description>
      </msbuild>
    </tasks>

    <publishers>
      <merge />
      <xmllogger />
      <statistics />
    </publishers>

  </project>
</cruisecontrol>
